form {
  display: grid;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}

.form-message {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.success {
  background: rgb(60, 216, 60);
  padding: 5px;
}

.error {
  background: rgb(250, 72, 72);
  padding: 5px;
}
